absl-py==2.3.1
action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.8.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
alembic==1.16.5
altair==6.1.0
ament-cmake-test==1.3.11
ament-copyright==0.12.12
ament-cppcheck==0.12.12
ament-cpplint==0.12.12
ament-flake8==0.12.12
ament-index-python==1.4.0
ament-lint==0.12.12
ament-lint-cmake==0.12.12
ament-package==0.14.0
ament-pep257==0.12.12
ament-uncrustify==0.12.12
ament-xmllint==0.12.12
amqp==5.3.1
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1753980460404/work
anaconda-auth @ file:///croot/anaconda-cloud-auth-split_1747863777058/work
anaconda-cli-base @ file:///croot/anaconda-cli-base_1741369443553/work
angles==1.15.0
annotated-doc==0.0.4
annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728386958747/work
antlr4-python3-runtime==4.9.3
anyio==4.10.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
astunparse==1.6.3
asyncssh==2.21.0
atpublic==6.0.1
attrs==25.3.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
billiard==4.2.1
blinker==1.9.0
boltons @ file:///croot/boltons_1751383775419/work
bond==4.1.2
box==0.1.5
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
build==1.4.3
builtin-interfaces==1.2.1
cachetools==5.5.2
cartographer-ros-msgs==2.0.9002
celery==5.5.3
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chromadb==1.5.7
click @ file:///croot/click_1754477934456/work
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.1
cohere==5.20.7
colorama @ file:///work/perseverance-python-buildout/croot/colorama_1728388434940/work
Columnar==1.3.1
composition-interfaces==1.2.1
conda @ file:///croot/conda_1754469510968/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1755123313635/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728487058234/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307506088/work
configobj==5.0.9
contourpy==1.3.3
control-msgs==4.8.0
cryptography @ file:///croot/cryptography_1753084572505/work
cv-bridge==3.2.1
cycler==0.12.1
databricks-sdk==0.64.0
demo-nodes-py==0.20.5
diagnostic-msgs==4.8.0
diagnostic-updater==4.0.3
dictdiffer==0.9.0
diskcache==5.6.3
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
dnspython==2.8.0
docker==7.1.0
domain-coordinator==0.10.0
dpath==2.2.0
dulwich==0.24.1
durationpy==0.10
dvc==3.63.0
dvc-data==3.16.12
dvc-http==2.32.0
dvc-objects==5.1.1
dvc-render==1.0.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
dwb-msgs==1.1.18
dynamixel-sdk==3.8.3
dynamixel-sdk-custom-interfaces==3.8.3
ensure==1.0.4
entrypoints==0.4
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
executing==0.8.2
fastapi==0.128.0
fastapi-events==0.12.2
fastavro==1.12.1
filelock==3.19.1
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.2.10
flatten-dict==0.4.2
flufl.lock==8.2.0
fonttools==4.59.2
frozendict @ file:///work/perseverance-python-buildout/croot/frozendict_1728497542215/work
frozenlist==1.7.0
fsspec==2025.9.0
funcy==2.0
gast==0.6.0
gazebo-model-attachment-plugin-msgs==1.0.3
gazebo-msgs==3.9.0
gazebo-video-monitor-interfaces==0.8.1
gazebo-video-monitor-utils==0.8.1
gdown==5.2.0
geometry-msgs==4.8.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.49.2
google-genai==1.72.0
google-pasta==0.2.0
googleapis-common-protos==1.74.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.4
groq==1.1.2
grpcio==1.74.0
gto==1.8.0
gunicorn==23.0.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.3.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.4.1
hydra-core==1.3.2
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
image-geometry==3.2.1
importlib_metadata==8.7.0
importlib_resources==7.1.0
interactive-markers==2.3.2
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///io/perseverance-python-buildout/croot/jaraco.context_1731706750665/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2==3.1.6
joblib==1.5.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.11.3
keyring @ file:///croot/keyring_1745484691218/work
kiwisolver==1.4.9
kombu==5.5.4
kubernetes==35.0.0
laser-geometry==2.4.0
launch==1.0.8
launch-ros==0.19.9
launch-testing==1.0.8
launch-testing-ros==0.19.9
launch-xml==1.0.8
launch-yaml==1.0.8
libclang==18.1.1
libmambapy @ file:///croot/mamba-split_1734469461757/work/libmambapy
lifecycle-msgs==1.2.1
logging-demo==0.20.5
loguru==0.7.3
Mako==1.3.10
map-msgs==2.1.0
Markdown==3.9
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1728387994477/work
MarkupSafe==3.0.2
matplotlib==3.10.5
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1728387286143/work
menuinst @ file:///croot/menuinst_1753464582829/work
message-filters==4.3.7
ml_dtypes==0.5.3
mlflow==3.3.2
mlflow-skinny==3.3.2
mlflow-tracing==3.3.2
mmh3==5.2.1
more-itertools @ file:///work/perseverance-python-buildout/croot/more-itertools_1728388668839/work
motor==3.7.1
mpmath==1.3.0
multidict==6.6.4
namex==0.1.0
narwhals==2.20.0
nav-2d-msgs==1.1.18
nav-msgs==4.8.0
nav2-common==1.1.18
nav2-msgs==1.1.18
nav2-simple-commander==1.0.0
networkx==3.5
numpy==2.3.2
oauthlib==3.3.1
omegaconf==2.3.0
onnxruntime==1.24.4
opentelemetry-api==1.41.0
opentelemetry-exporter-otlp-proto-common==1.41.0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
opentelemetry-proto==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.3
osrf-pycommon==2.1.6
overrides==7.7.0
packaging @ file:///croot/packaging_1753775359799/work
pandas==2.3.2
pathspec==0.12.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pillow==11.3.0
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1728388093137/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
plotly==6.7.0
pluggy @ file:///croot/pluggy_1733169602837/work
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.3
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1750768261732/work
pydantic-settings==2.12.0
pydantic_core @ file:///croot/pydantic-core_1750754736071/work
pydeck==0.9.2
pydot==4.0.1
pygit2==1.18.2
Pygments @ file:///croot/pygments_1744664109463/work
pygtrie==2.5.0
PyJWT @ file:///io/buildout/croot/pyjwt_1739558969999/work
pymongo==4.16.0
pyparsing==3.2.3
PyPika==0.51.1
pyproject_hooks==1.2.0
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
pysqlite3-binary==0.5.4
python-box==7.3.2
python-dateutil==2.8.2
python-dotenv==1.2.2
python-multipart==0.0.21
python-qt-binding==1.1.2
pytz==2025.2
PyYAML==6.0.2
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.1
rclpy==3.3.16
rcutils==5.1.6
readchar @ file:///work/perseverance-python-buildout/croot/readchar_1728397613245/work
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
requests-oauthlib==2.0.0
resource-retriever==3.1.3
rich==15.0.0
rmw-dds-common==1.6.0
ros2action==0.18.12
ros2bag==0.15.14
ros2cli==0.18.12
ros2component==0.18.12
ros2doctor==0.18.12
ros2interface==0.18.12
ros2launch==0.19.9
ros2lifecycle==0.18.12
ros2multicast==0.18.12
ros2node==0.18.12
ros2param==0.18.12
ros2pkg==0.18.12
ros2run==0.18.12
ros2service==0.18.12
ros2topic==0.18.12
rosbag2-interfaces==0.15.14
rosbag2-py==0.15.14
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpds-py==0.30.0
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.4
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9.1
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
scikit-learn==1.7.1
scipy==1.16.1
scmrepo==3.5.2
SecretStorage @ file:///work/perseverance-python-buildout/croot/secretstorage_1728387678881/work
semver @ file:///croot/semver_1736540782504/work
sensor-msgs==4.8.0
sensor-msgs-py==4.8.0
setuptools==78.1.1
shape-msgs==4.8.0
shellingham @ file:///work/perseverance-python-buildout/croot/shellingham_1728395303315/work
shortuuid==1.0.13
shtab==1.7.2
six==1.17.0
slam-toolbox==2.6.9
smclib==4.1.2
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.43
sqlparse==0.5.3
sqltrie==0.11.2
sros2==0.10.6
starlette==0.47.3
statistics-msgs==1.2.1
std-msgs==4.8.0
std-srvs==4.8.0
stereo-msgs==4.8.0
streamlit==1.57.0
sympy==1.14.0
tabulate==0.9.0
tavily-python==0.7.23
teleop-twist-keyboard==2.4.0
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
tf-transformations==1.1.0
tf2-geometry-msgs==0.25.12
tf2-kdl==0.25.12
tf2-msgs==0.25.12
tf2-py==0.25.12
tf2-ros-py==0.25.12
tf2-tools==0.25.12
threadpoolctl==3.6.0
tiktoken==0.12.0
timeago==1.0.14
tokenizers==0.22.2
toml==0.10.2
tomli @ file:///croot/tomli_1753774587605/work
tomlkit==0.13.3
toolz==1.0.0
topic-monitor==0.20.5
tqdm @ file:///croot/tqdm_1738943501192/work
trajectory-msgs==4.8.0
truststore @ file:///croot/truststore_1753907171582/work
# Editable install with no version control (turtlebot3-example==2.2.6)
-e /home/yousef/turtlebot3_ws/build/turtlebot3_example
turtlebot3-msgs==2.3.0
# Editable install with no version control (turtlebot3-teleop==2.2.6)
-e /home/yousef/turtlebot3_ws/build/turtlebot3_teleop
turtlesim==1.4.2
typer==0.24.1
typer-slim==0.24.0
types-requests==2.32.4.20260107
typing-inspection @ file:///croot/typing-inspection_1746023470701/work
typing_extensions==4.15.0
tzdata==2025.2
unique-identifier-msgs==2.2.1
urllib3 @ file:///croot/urllib3_1750775463400/work
uvicorn==0.40.0
uvloop==0.22.1
vine==5.1.0
visualization-msgs==4.8.0
voluptuous==0.15.2
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.13
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.3
yarl==1.20.1
zc.lockfile==3.0.post1
zipp==3.23.0
zstandard @ file:///croot/zstandard_1731356346222/work
